<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<section class="about section">
  <div class="container">
    <!-- <div class="row">
      <div class="section-title padd-15">
        <h2>About me</h2>
      </div>
    </div> -->
    <div class="row">
      <div class="about-content padd-15">
        <!-- <div class="row">
          <div class="about-text padd-15">
            <h3>I'm Ishan Jain and <span>Software Intern</span></h3>
            <p>I completed my schooling from Meerut Public School, Meerut. After that I have done my
              undergraduation from Jaypee Institute Of Information technology, Noida with major in
              Computer Science and Engineering. My keen interest are in Cloud technologies.
            </p>
          </div>
        </div> -->
        <div class="row">
          <!-- <div class="personal-info padd-15">
            <div class="row">
              <div class="info-item padd-15">
                <p>Date Of Birth: <span>01 January 2001</span></p>
              </div>
              <div class="info-item padd-15">
                <p>Age: <span>22</span></p>
              </div>
              <div class="info-item padd-15">
                <p>Email: <span>ishan101001@gmail.com</span></p>
              </div>
              <div class="info-item padd-15">
                <p>Phone: <span>+91 89544 44231</span></p>
              </div>
              <div class="info-item padd-15">
                <p>City: <span>Noida, Uttar Pardesh</span></p>
              </div>
              <div class="info-item padd-15">
                <p>Country: <span>India</span></p>
              </div>
            </div>
          </div> -->
          <!-- <div class="skills padd-15">
            <div class="row">
              <div class="skill-items padd-15">
                <h5>Cloud technologies (GCP, Azure, AWS)</h5>
                <div class="progress">
                  <div class="progress-in" style="width: 75%;"></div>
                  <div class="skill-percent">70%</div>
                </div>
              </div>
              <div class="skill-items padd-15">
                <h5>Angular</h5>
                <div class="progress">
                  <div class="progress-in" style="width: 60%;"></div>
                  <div class="skill-percent">70%</div>
                </div>
              </div>
              <div class="skill-items padd-15">
                <h5>Node.js</h5>
                <div class="progress">
                  <div class="progress-in" style="width: 60%;"></div>
                  <div class="skill-percent">70%</div>
                </div>
              </div>
              <div class="skill-items padd-15">
                <h5>MongoDb</h5>
                <div class="progress">
                  <div class="progress-in" style="width: 60%;"></div>
                  <div class="skill-percent">70%</div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="row">
          <div class="education">
            <h3 class="title">Education</h3>
            <div class="row">
              <div class="timeline-box padd-15">
                <div class="timeline shadow-dark">
                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i> 2019 - 2023
                    </h3>
                    <h4 class="timeline-title">B.tech in Computer Science and Engineering</h4>
                    <h5 class="timeline-institute">Jaypee Institute of Information Technology</h5>
                    <p class="time-text">CGPA: 8.2</p>
                  </div>

                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i> 2016 - 2018
                    </h3>
                    <h4 class="timeline-title">AISSCE</h4>
                    <h5 class="timeline-institute">Sri Chaitanya Junior College, Visakhapatnam</h5>
                    <!-- <p class="time-text">Percentage: 95.2% | PCM</p> -->
                  </div>

                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                      <i class="fa fa-calendar" aria-hidden="true"></i> 2014 - 2016
                    </h3>
                    <h4 class="timeline-title">AISSE</h4>
                    <h5 class="timeline-institute">'HR' Imperial Public School, Chapra</h5>
                    <p class="time-text">CGPA: 10</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="projects">
            <h3 class="title">Experience</h3>
            <div class="row">
              <div class="timeline-box padd-15">
                <div class="timeline shadow-dark">
                  <div class="timeline-item">
                    <div class="circle-dot" ></div>
                    <h4 class="project-title">BIZ2CREDIT | UPCOMING SDE INTERN</h4>
                    <p class="project-text">
                        Ongoing
                    </p>
                  </div>
                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h4 class="project-title">NAGARRO | SUMMER TRAINEE</h4>
                    <p class="project-text">Imparted training on Web Development and its fundamentals.<br>
                        Mentored and guided on multiple web projects in a team.
                    </p>
                  </div>

                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h4 class="project-title">AAKARIST PRIVATE LTD. | ANDROID DEVELOPER INTERN</h4>
                    <p class="project-text">
                        Developed Rentz Luxury application that helps users to rent car.<br>
                        Collaborated in a team of 10 to create applications in the travel
                        industry space which has impacted over 500 users.<br>
                        Integrated a feature using Java Mail API that helps users to send an
                        email directly through the application.<br>
                        Implemented various features in the SellIt application such as
                        external notification, and web view integration.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
