<footer id="footer">
    <div class="container-fluid bg-dark">
        <!-- social media icons -->
        <div class="social-icons mt-4">
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://github.com/priyanshu025" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/priyanshu-kumar-3260551ab/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.gmail.com/" target="_blank"><i class="fab fa-google"></i></a>
        </div>
    </div>
</footer>