<section id="about" >
    <div class="container">
        <h1 class="text-center mt-4">About Section</h1>
        <div class="row mt-4">
            <div class="col-lg-4">
             <img src="assets/profile2.jpg" class="imageAboutPage" alt="">
            </div>
            <div class="col-lg-8 mt-2">
                <p> I am Priyanshu, a final-year undergrad pursuing a B.Tech. in Computer Science Engineering from Jaypee Institute of Information Technology. </p>
                <div class="row mt-4">
                    <div class="col">
                        <ul>
                            <li>
                                <div class="row mt-2">
                                   <div class="col-md-4 text-muted"> <b>Name:</b></div><div class="col-md-6 text-success">Priyanshu Kumar</div></div></li>
                            <li><div class="row mt-2">
                                <div class="col-md-4 text-muted"> <b>Occupation:</b></div><div class="col-md-6 text-success">Software Developer</div></div></li>
                            <li><div class="row mt-2">
                                    <div class="col-md-4 text-muted"> <b>Education:</b></div><div class="col text-success">B.tech, CSE</div></div></li>
                            <!-- <li><b>Education:</b> B.tech, Computer Science and Engineering</li> -->
                            <li><div class="row mt-2">
                                <div class="col-md-4 text-muted"> <b>Interests:</b></div><div class="col text-success">Android Dev, Web Dev and Problem Solving</div></div></li>
                        </ul>
                    </div>
                    <!-- <div class="col-md-6">
                        <h4 class="text-center text-muted">Contact Details</h4>
                        <ul>
                            <li><a href="https://github.com/priyanshu025" target="_blank">Github</a></li>
                            <li><a href="https://www.linkedin.com/in/priyanshu-kumar-3260551ab/" target="_blank">LinkedIn</a></li>
                            <li><a href="priyanshukumar025@gmail.com" target="_blank">E-mail</a></li>
                        </ul>
                    </div> -->
                </div>
                <div class="row mt-3">
                      <p>I have a good hold on Data Structures and Algorithms. Also, I have strong problem-solving skills and love to solve algorithmic problems. I have solved 800+ standard quality questions. I am an avid Android developer and have developed some cool projects using AR also. Furthermore, I am also passionate about Blockchain technology and have worked on few Blockchain projects.</p>
                </div>
            </div>

        </div>
    </div>
  
</section>

<!-- <section id="about">
    <div class="container mt-4 pt-4">
        <h1 class="text-center">About Me</h1>
        <div class="row mt-4">
            <div class="col-lg-4">
                <img src="assets/profile2.jpg" class= "imageAboutPage" alt="">
            </div>

            <div class="col-lg-8">
                <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
                    
                </p>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <ul>
                            <li>Name: David Parker</li>
                            <li>Age: 28</li>
                            <li>Occupation: Web Developer</li>

                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Name: David Parker</li>
                            <li>Age: 28</li>
                            <li>Occupation: Web Developer</li>

                        </ul>
                    </div>
                </div>
                <div class="row mt-3">
                    <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                </div>
            </div>
        </div>
        </div>
</section> -->