<section id="portfolio">
    <div class="container fluid">
        <h1 class="text-center mt-2">Projects</h1>
        <div class="card-group mt-4">
            <div class="card text-center" *ngFor="let project of projects">
                <div class="image">
                <img class="card-img-top" src={{project.image}} alt="Card image" style="width:50%; height: 70%;">
               </div>
                <div class="card-body">
                    <h4 class="card-title">{{project.title}}</h4>
                    <p class="card-text mt-4">
                        {{project.content}}
                        </p>
                    <div class="text-center">
                        <a href={{project.link}} target="_blank" class="btn btn-success">Link</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>