<section class="skills">
<div class="container fluid mt-5 pt-5 pb-5 mb-5">
    <h1 class="text-center">Skills</h1>
    <div class="row mt-4">
      <!-- <div class="col md-4">
         Languages: 
      </div> -->
      <div class="col md-8">
        <!-- <h3 class="text-center">Languages:</h3> -->
        <div class="row mt-4">
            <div class="col-1 head">
               <!-- <img src="assets/skill/css.png" class="image image-contain"> -->
               <i class="fab fa-java"></i>
            </div>
            <div class="col md-2">
                Java
            </div>
        </div>
        <div class="row mt-4">
            <div class="col md-10">
                <div class="progress" role="progressbar">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%">75%</div>
                  </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-1">
                <!-- <img src="assets/skill/"> -->
                <i class="fab fa-js"></i>
             </div>
            <div class="col md-2">
                JavaScript
            </div>
          </div>
          <div class="row">     
            <div class="col md-10">
                <div class="progress" role="progressbar">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 60%">60%</div>
                  </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-1">
                <!-- <img src="assets/skill/"> -->
                <i class="fab fa-angular"></i>
             </div>
            <div class="col md-2">
                Angular
            </div>
          </div>
          <div class="row">     
            <div class="col md-10">
                <div class="progress" role="progressbar">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 60%">60%</div>
                  </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-1">
                <!-- <img src="assets/skill/"> -->
                <i class="fab fa-android"></i>
             </div>
            <div class="col md-2">
                Android Development
            </div>
          </div>
          <div class="row">     
            <div class="col md-10">
                <div class="progress" role="progressbar">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 60%">60%</div>
                  </div>
            </div>
        </div>
      </div>
      <div class="col md-8">
        <!-- <h3 class="text-center">Languages:</h3> -->
        <div class="row mt-4">
            <div class="col-1">
               <!-- <img src="assets/skill/"> -->
               <i class="fab fa-html5"></i>
            </div>
            <div class="col md-2">
                HTML5
            </div>
        </div>
        <div class="row mt-4">
            <div class="col md-10">
                <div class="progress" role="progressbar">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%">75%</div>
                  </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-1">
                <!-- <img src="assets/skill/"> -->
                <i class="fab fa-css3"></i>
             </div>
            <div class="col md-2">
                CSS
            </div>
          </div>
          <div class="row">     
            <div class="col md-10">
                <div class="progress" role="progressbar">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 60%">60%</div>
                  </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-1">
                <!-- <img src="assets/skill/"> -->
                <i class="fab fa-node-js"></i>
             </div>
            <div class="col md-2">
                NodeJS
            </div>
          </div>
          <div class="row">     
            <div class="col md-10">
                <div class="progress" role="progressbar">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 60%">60%</div>
                  </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-1">
                <!-- <img src="assets/skill/"> -->
                <i class="fab fa-git"></i>
             </div>
            <div class="col md-2">
                Git
            </div>
          </div>
          <div class="row">     
            <div class="col md-10">
                <div class="progress" role="progressbar">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 60%">60%</div>
                  </div>
            </div>
        </div>
      </div>
      <!-- <div class="col md-8">
        <h3 class="text-center">Languages:</h3>
        <div class="row mt-2">
            <div class="col-4">
               <img src="assets/skill/">
            </div>
            <div class="col md-2">
                C++
            </div>
        </div>
        <div class="row mt-2">
            <div class="col md-10">
                <div class="progress" role="progressbar">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%">75%</div>
                  </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <img src="assets/skill/">
             </div>
            <div class="col md-2">
                JavaScript
            </div>
          </div>
          <div class="row">     
            <div class="col md-10">
                <div class="progress" role="progressbar">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 60%">60%</div>
                  </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <img src="assets/skill/">
             </div>
            <div class="col md-2">
                JavaScript
            </div>
          </div>
          <div class="row">     
            <div class="col md-10">
                <div class="progress" role="progressbar">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 60%">60%</div>
                  </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <img src="assets/skill/">
             </div>
            <div class="col md-2">
                JavaScript
            </div>
          </div>
          <div class="row">     
            <div class="col md-10">
                <div class="progress" role="progressbar">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 60%">60%</div>
                  </div>
            </div>
        </div>
      </div> -->
    </div>
</div>
</section>