<app-container></app-container>
<!-- <nav class="navbar navbar-expand-lg bg-dark fixed-top navbarScroll">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/profile2.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
             PRIYANSHU
          </a>
      <a class="navbar-brand text-white" href="#">PRIYANSHU</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="About">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="#">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="#">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" routerLink="Projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" routerLink="skills">Skills</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <app-home></app-home>
<div class="component-container">
    <router-outlet></router-outlet>
</div>  -->